<div id="signup">
    <div class="row column">
        <h4 class="text-center">GET OUTDOOR COOKING RECIPIES & EXPERT TECHINQUES</h4>
        {{ do_shortcode("[gravityform id=1 title=false description=false ajax=true tabindex=49]") }}
    </div>
</div>

<div id="footer-logo">
    <div class="expanded row column">
        {% if header_image() %}
        <a href="{{ home_url() }}">
            <img src="{{ header_image() }}" alt="">
        </a>
        {% endif %}
    </div>
</div>

<div id="footer">
    <div class="row" id="footer-menus">
        <div class="columns" id="recipe-categories">
            <h4>RECIPE CATEGORIES</h4>
            <ul class="no-bullet">
                {{
                wp_list_categories({
                    'taxonomy'           : 'food_category',
                    'orderby'            : 'name',
                    'order'              :'ASC',
                    'title_li'           : '',
                    'hide_empty'         : 1,
                    'show_count'         : 0,
                    'use_desc_for_title' : 1,
                    'child_of'           : 0,
                    'hierarchical'       : 0,
                })
                }}
            </ul>
        </div>
        <div class="columns text-center" id="footer-menu">
            <ul class="menu">
                <li><a href="https://www.pinterest.com/Bush_Cooking/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                <li><a href="https://www.facebook.com/BushCooking" target="_blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://twitter.com/BushCooking" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://plus.google.com/u/0/b/116280046121062819121/116280046121062819121" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            </ul>
            <p><a href="#">Advertise with Us</a></p>
            <img src="{{ stylesheet_directory_uri }}/images/advertise-with-us-bottom.png" alt="">
        </div>
        <div class="columns end" id="blog-categories">
            <h4>BLOG CATEGORIES</h4>
            <ul class="no-bullet">
                {{
                wp_list_categories({
                    'taxonomy'           : 'category',
                    'orderby'            : 'name',
                    'order'              :'ASC',
                    'title_li'           : '',
                    'hide_empty'         : 1,
                    'show_count'         : 0,
                    'use_desc_for_title' : 1,
                    'child_of'           : 0,
                    'hierarchical'       : 0,
                })
                }}
            </ul>
        </div>
    </div>
    <div class="expanded row column text-center" id="footer-copyright">
        <p>
            &copy; 2015 Bush Cooking.  All rights reserved. <a href="" target="_blank">Seattle Web Design</a> by Sayenko Design.
            |
            <a href="#">Privacy Policy</a>
        </p>
    </div>
</div>

{{ wp_footer() }}

</body>
</html>