<html {{ language_attributes() }}>
    {% include "template/head.html.twig" %}

    <body {{ body_class() }}>

    <div data-sticky-container>
        <div data-sticky data-sticky data-top-anchor="try" id="top-bar-container" data-sticky-on="small">
            {% block header_searchbar %}
                <div class="top-bar" id="search-bar">
                    <div class="column row collapse">
                        <div class="top-bar-right">
                            <ul class="menu">
                                <li>
                                    <div class="button-group">
                                        <a class="button" data-toggle="example-dropdown">Recipe Category</a>
                                        <a class="dropdown button" data-toggle="example-dropdown">
                                            <i class="fa fa-angle-down"></i>
                                            <span class="show-for-sr">Show menu</span>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <form role="search" method="get" id="searchform" class="searchform" action="{{ home_url( '/' ) }}">
                                    <div class="input-group">
                                        <input class="input-group-field" type="search" placeholder="Find a Recipe" name="s">
                                        <input type="hidden" name="post_type" value="recipes" />
                                        <div class="input-group-button">
                                            <button type="submit" class="button" value="Search">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    </form>
                                </li>
                            </ul>
                            <div class="dropdown-pane" id="example-dropdown" data-dropdown data-hover="true" data-hover-pane="true">
                                <ul class="menu vertical">
                                    {{
                                        wp_list_categories({
                                            'orderby'            : 'name',
                                            'order'              :'ASC',
                                            'title_li'           : '',
                                            'hide_empty'         : 0,
                                            'show_count'         : 0,
                                            'use_desc_for_title' : 1,
                                            'child_of'           : 0,
                                            'hierarchical'       : 0,
                                        })
                                    }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block primary_navi %}
                <div class="top-bar" id="primary-navigation">
                <div class="column row">
                    <div class="top-bar-center hide-for-small-only">
                        {{
                            wp_nav_menu({
                                'theme_location' : 'primary',
                                'menu_class'     : "dropdown menu",
                                'menu_id'        : 'primary-nav'
                            })
                        }}
                    </div>
                    <div class="top-bar-right">
                        <ul class="menu social-links">
                            <li><a href="http://allrecipes.com/cook/7709795/" target="_blank"><i class="fa all-recipes"></i></a></li>
                            <li><a href="https://www.instagram.com/_bushcooking_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.pinterest.com/Bush_Cooking/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="https://www.facebook.com/BushCooking" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/BushCooking" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/u/0/b/116280046121062819121/116280046121062819121" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                        </ul>
                        <div id="primary-menu-toggle">
                            <div data-responsive-toggle="primary-mobile-nav" data-hide-for="medium">
                                <button class="menu-icon" type="button" data-toggle></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block header_logo %}
                {% if header_image() %}
                    <div class="column row">
                        <a href="{{ home_url() }}" id="large-logo">
                            <img src=" {{ header_image() }}" alt="">
                        </a>
                    </div>
                {% endif %}
            {% endblock %}
            {% block primary_mobile_menu %}
                {{
                    wp_nav_menu({
                        'theme_location' : 'primary',
                        'menu_class'     : "vertical menu hide-for-medium",
                        'menu_id'        : 'primary-mobile-nav'
                    })
                }}
                <!--
                <ul class="vertical menu hide-for-medium" id="primary-mobile-nav" data-accordion-menu>
                    <li>
                        <a href="#">Item 1</a>
                        <ul class="menu vertical nested">
                            <li>
                                <a href="#">Item 1A</a>
                                <ul class="menu vertical nested">
                                    <li><a href="#">Item 1Ai</a></li>
                                    <li><a href="#">Item 1Aii</a></li>
                                    <li><a href="#">Item 1Aiii</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Item 1B</a></li>
                            <li><a href="#">Item 1C</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Item 2</a>
                        <ul class="menu vertical nested">
                            <li><a href="#">Item 2A</a></li>
                            <li><a href="#">Item 2B</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Item 3</a></li>
                </ul>
                -->
            {% endblock %}
        </div>
    </div>