<head>
    <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-1689122723756643",
            enable_page_level_ads: true
        });
    </script>
    {% block head %}
        <meta charset="{{ blog_info( 'charset' ) }}">
        <meta name="viewport" content="width=device-width">
        <title>{{ wp_title( '|', 'right' ) }}</title>
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link rel="pingback" href="{{ blog_info( 'pingback_url' ) }} ?>">
        <link rel="icon" href="{{ stylesheet_directory_uri }}/images/fav-icon.jpg" type="image/x-icon"/>
        <link rel="shortcut icon" href="{{ stylesheet_directory_uri }}/images/fav-icon.png" type="image/x-icon"/>
        {{ wp_head() }}
    {% endblock %}
</head>