<article id="post-{{ the_id() }}" {{ post_class('recipe-teaser teaser') }}>
    {% if the_post_thumbnail() %}
        {{ the_post_thumbnail('teaser') }}
    {% else %}
        <img src="http://placehold.it/280x280" class="featured"/>
    {% endif %}
    <div class="rating">
        {% for i in 1..5 %}
            {% if i <= rating %}
                <i class="fa fa-star"></i>
            {% else %}
                <i class="fa fa-star-o"></i>
            {% endif %}
        {% endfor %}
    </div>
    <div class="inner-content">
        <h4 class="title"><a href="{{ the_permalink() }}">{{ the_title() }}</a></h4>
        <div class="description">
            {{ the_field('teaser_description') }}
        </div>
        <p class="author-info">
            {{ the_author_avatar(26) }} By: <a href="{{ the_author_posts_url(the_author_ID()) }}">{{ the_author() }}</a>
        </p>
        <div class="row meta-info">
            <div class="small-6 columns">
                <p><i class="fa fa-users"></i> {{ the_field('servings') }} People</p>
            </div>
            <div class="small-6 columns">
                <p><i class="fa fa-clock-o"></i> {{ the_field('ready_in') }}</p>
            </div>
        </div>
    </div>
</article><!-- #post -->