<article id="post-{{ the_id() }}" {{ post_class('recipe-teaser teaser') }}>
    <img src="http://placehold.it/260x260" class="featured"/>
    <div class="inner-content">
        <h4 class="title"><a href="{{ the_permalink() }}">{{ the_title() }}</a></h4>
        <div class="description">
            {{ the_field('teaser_description') }}
        </div>
        <p class="author-info">
            {{ the_author_avatar(26) }} By: {{ the_author_link() }}
        </p>
        <div class="row meta-info">
            <div class="small-6 columns">
                <p><i class="fa fa-users"></i> {{ the_field('servings') }} People</p>
            </div>
            <div class="small-6 columns">
                <p><i class="fa fa-clock-o"></i> {{ the_field('ready_in') }}</p>
            </div>
        </div>
    </div>
</article><!-- #post -->