<table id="details">
    <tr>
        <th>Recipe Origin</th>
        <td>
            {% for term in countries %}
                <a href="{{ term.link }}">{{ term.term }}</a>
            {% else %}
                N/A
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Rating</th>
        <td>
            <div class="rating">
                {% if rating %}
                    {% for i in 1..10 %}
                        {% if i <= rating*2 %}
                            {% if i is even %}
                                <i class="fa fa-star"></i>
                            {% elseif i+0.5 > rating*2 %}
                                <i class="fa fa-star-half-o"></i>
                            {% endif %}
                        {% elseif i is even and i-1 > rating*2 %}
                            <i class="fa fa-star-o"></i>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    No Reviews
                {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <th>Servings</th>
        <td itemprop="recipeYield">{{ the_field('servings') }}</td>
    </tr>
    <tr>
        <th>Preparation</th>
        <td>
            {% if prep_hours or prep_minutes %}
                {% if prep_hours %}{{ prep_hours }} hour{% if prep_hours > 1 %}s{% endif %} {% endif %}
                {% if prep_minutes %}{{ prep_minutes }} min{% endif %}
                <span itemprop="prepTime" class="hide">{{ "%02d:%02d"|format(prep_hours, prep_minutes) }}</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Cook</th>
        <td>
            {% if cook_hours or cook_minutes %}
                {% if cook_hours %}{{ cook_hours }} hour{% if cook_hours > 1 %}s{% endif %} {% endif %}
                {% if cook_minutes %}{{ cook_minutes }} min{% endif %}
                <span itemprop="cookTime" class="hide">{{ "%02d:%02d"|format(cook_hours, cook_minutes) }}</span>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Ready in</th>
        <td>
            {% if total_hours or total_minutes %}
                {% if total_hours %}{{ total_hours }} hour{% if total_hours > 1 %}s{% endif %} {% endif %}
                {% if total_minutes %}{{ total_minutes }} min{% endif %}
                <span itemprop="totalTime" class="hide">{{ "%02d:%02d"|format(total_hours, total_minutes) }}</span>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Difficulty</th>
        <td>
            {% for term in difficulties %}
                <a href="{{ term.link }}">{{ term.term }}</a>
            {% else %}
                N/A
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Cooking Method</th>
        <td>
            {% for term in cooking_methods %}
                <a href="{{ term.link }}">{{ term.term }}</a>
            {% else %}
                N/A
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Ingredients</th>
        <td>
            {% for term in ingredient_cats %}
                <a href="{{ term.link }}">{{ term.term }}</a>
            {% else %}
                N/A
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Equipment</th>
        <td>
            {% for term in equipment %}
                <a href="{{ term.link }}">{{ term.term }}</a>
            {% else %}
                N/A
            {% endfor %}
        </td>
    </tr>
    <tr>
        <th>Recipe Type</th>
        <td>
            {% for term in recipe_types %}
                <a href="{{ term.link }}">{{ term.term }}</a>
            {% else %}
                N/A
            {% endfor %}
        </td>
    </tr>
</table>