{% extends 'template/main.html.twig' %}
{% block pre_content %}
    <div class="expanded row" id="home-slider">
        {{ rev_slider | raw }}
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-6 columns">
            <h4 class="text-primary-3">Latest Recipes</h4>
        </div>
        <div class="small-6 columns text-right">
            <h4><a href="{{ home_url() }}/?post_type=recipes" class="large button">All Recipes</a></h4>
        </div>
    </div>
    <div class="row teasers">
        <div class="medium-6 medium-push-6 large-push-9 large-3 columns text-center">
            <article id="teaser-ad" {{ post_class('recipe-teaser teaser') }}>
                <div class="teaser-content">
                    <img src=" {{ stylesheet_directory_uri }}/images/Website-Logo-orange.png" alt="">
                    <h3>Advertise With Us</h3>
                    <h5><a href="{{ the_field("advertise_with_us_url", "option") }}" class="button hollow">Contact Us!</a></h5>
                </div>
            </article>
        </div>
        {% for recipe in recipes|slice(0,3) %}
            <div class="medium-6 {% if loop.first %}medium-pull-6 {% endif %}large-3 large-pull-3 columns">
                {{ recipe | raw }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="small-6 columns">
            <h4 class="text-primary-3">Latest Articles</h4>
        </div>
        <div class="small-6 columns text-right">
            <h4><a href="{{ home_url() }}/?post_type=post" class="large button">All Articles</a></h4>
        </div>
    </div>
    <div class="row small-up-1 medium-up-2 large-up-4 teasers">
        {% for key,top_article in top_articles %}
            <div class="column">
                {{ top_article | raw }}
                {{ bottom_articles[key] | raw }}
            </div>
        {% endfor %}
    </div>
    <div class="row text-center" id="large-ad">
        <div class="content">
            <h3>ADVERTISE <small>WITH US</small></h3>
            <a href="{{ the_field("advertise_with_us_url", "option") }}" class="button">CONTACT US!</a>
        </div>
    </div>
{% endblock %}