{% extends 'template/main.html.twig' %}
{% set has_sidebar = true %}
{% set content_attr = 'itemscope itemtype="http://schema.org/Recipe"' %}
{% block content %}
    {% if nutrition.cals or nutrition.fat or nutrition.carbs or nutrition.protein or nutrition.cholesterol or nutrition.sodium %}
        <div class="hide" itemprop="nutrition" itemscope itemtype="http://schema.org/NutritionInformation">
            {% if nutrition.cals %}<span class="hide" itemprop="calories">{{ nutrition.cals }} kcal</span>{% endif %}
            {% if nutrition.fat %}<span class="hide" itemprop="fatContent">{{ nutrition.fat }} g</span>{% endif %}
            {% if nutrition.carbs %}<span class="hide" itemprop="carbohydrateContent">{{ nutrition.carbs }} g</span>{% endif %}
            {% if nutrition.protein %}<span class="hide" itemprop="proteinContent">{{ nutrition.protein }} g</span>{% endif %}
            {% if nutrition.cholesterol %}<span class="hide" itemprop="cholesterolContent">{{ nutrition.cholesterol }} mg</span>{% endif %}
            {% if nutrition.sodium %}<span class="hide" itemprop="sodiumContent">{{ nutrition.sodium }} mg</span>{% endif %}
        </div>
    {% endif %}
    <div class="row" id="recipe-overview">
        <div class="large-4 columns text-center">
            {% if slides %}
                <div class="slick">
                    {% for slide in slides %}
                        <img src="{{ slide['sizes']['slider'] }}" alt="{{ slide['alt'] }}" itemprop="image"/>
                    {% endfor %}
                </div>
            {% endif %}
            <button class="primary button" onClick="window.print()" ><i class="fa fa-print"></i> Print</button>
        </div>
        <div class="large-8 columns">
            <h1 itemprop="name">{{ the_title() }}</h1>
            <time class="hide" datetime="2009-11-05">{{ the_date() | date('Y-m-d') }}</time>
            {% if rating and rating_count %}
                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="hide">
                    <span itemprop="ratingValue">{{ rating }}</span>
                    <span itemprop="reviewCount">{{ rating_count }}</span>
                    <span itemprop="bestRating">5</span>
                    <span itemprop="worstRating">1</span>
                </span>
            {% endif %}
            <div itemprop="description">{{ the_field('description') }}</div>
            <div class="hide print-only">
                {% include "partials/sidebar-recipe-details.html.twig" %}
            </div>
        </div>
    </div>
    <div class="row" id="recipe-instructions">
        <div class="large-4 columns">
            {% if ingredients %}
                <h4>Ingredients</h4>
            {% endif %}
            {% for ingredient in ingredients %}
                {% if ingredient.type == 'ingredient' %}
                    <div class="row">
                        <div class="small-3 columns">
                            <div class="switch tiny">
                                <input class="switch-input" id="ingredient-{{ loop.index }}" type="checkbox" name="ingredient-{{ loop.index }}">
                                <label class="switch-paddle" for="ingredient-{{ loop.index }}">
                                    <span class="show-for-sr">Ingredient</span>
                                </label>
                            </div>
                        </div>
                        <div class="small-9 columns">
                            <p class="switch-text" itemprop="recipeIngredient">{{ ingredient.value | raw }}</p>
                        </div>
                    </div>
                {% elseif ingredient.type == 'heading' %}
                    <div class="row columns">
                        <h5>{{ ingredient.value | raw }}</h5>
                    </div>
                {% endif %}
            {% endfor %}
            {% if equipments %}
                <h4>Equipment</h4>
            {% endif %}
            {% for equipment in equipments %}
                {% if equipment.type == 'equipment' %}
                    <div class="row">
                        <div class="small-3 columns">
                            <div class="switch tiny">
                                <input class="switch-input" id="equipment-{{ loop.index }}" type="checkbox" name="equipment-{{ loop.index }}">
                                <label class="switch-paddle" for="equipment-{{ loop.index }}">
                                    <span class="show-for-sr">Equipment</span>
                                </label>
                            </div>
                        </div>
                        <div class="small-9 columns">
                            <p class="switch-text">{{ equipment.value | raw }}</p>
                        </div>
                    </div>
                {% elseif equipment.type == 'heading' %}
                    <div class="row columns">
                        <h5>{{ equipment.value | raw }}</h5>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="large-8 columns">
            <div id="directions" itemprop="recipeInstructions">
                <h4>Directions</h4>
                <ol>
                {% for direction in directions %}
                    {% if direction.type == "direction" %}
                        <li class="direction">
                            <div class="content">{{ direction.value | raw }}</div>
                        </li>
                    {% elseif direction.type == "heading" %}
                        <li class="direction skip">
                            <h5>{{ direction.value | raw }}</h5>
                        </li>
                    {% endif %}
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {% include 'partials/related.html.twig' %}
    {{ comments_template() }}
{% endblock %}
{% block sidebar %}
    <div class="hide" itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span class="hide" itemprop="name">{{ author.name }}</span>
        <span class="hide" itemprop="familyName">{{ author.last_name }}</span>
        <span class="hide" itemprop="givenName">{{ author.first_name }}</span>
    </div>
    {% include "partials/sidebar-recipe-author.html.twig" %}
    {% include "partials/sidebar-recipe-details.html.twig" %}
    {% include "partials/sidebar-custom-content.html.twig" %}
    {% include 'partials/sharethis.html.twig' %}
{% endblock %}