{% extends 'template/main.html.twig' %}
{% set has_sidebar = true %}
{% block content %}
    <div class="row" id="recipe-overview">
        <div class="medium-4 columns">
            {% if slides %}
                <div class="slick">
                    {% for slide in slides %}
                        <img src="{{ slide['sizes']['slider'] }}" alt="{{ slide['alt'] }}" />
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="medium-8 columns">
            <h1>{{ the_title() }}</h1>
            {% include 'partials/sharethis.html.twig' %}
            {{ the_field('teaser_description') }}
        </div>
    </div>
    <div class="row" id="recipe-instructions">
        <div class="medium-4 columns">
            {% if ingredients %}
                <h4>Ingredients</h4>
            {% endif %}
            {% for ingredient in ingredients %}
                <div class="row">
                    <div class="small-3 columns">
                        <div class="switch tiny">
                            <input class="switch-input" id="ingredient-{{ loop.index }}" type="checkbox" name="ingredient-{{ loop.index }}">
                            <label class="switch-paddle" for="ingredient-{{ loop.index }}">
                                <span class="show-for-sr">Download Kittens</span>
                            </label>
                        </div>
                    </div>
                    <div class="small-9 columns">
                        <p class="switch-text">{{ ingredient| raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="medium-8 columns">
            <div id="directions">
                <h4>Directions</h4>
                {% for direction in directions %}
                    <div class="direction">
                        <div class="icon"><i class="fa fa-clock-o"></i></div>
                        <div class="content">{{ direction | raw }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% include 'partials/related.html.twig' %}
    {{ comments_template() }}
{% endblock %}
{% block sidebar %}
    <div id="author">
        {{ the_author_avatar(60) }} <h4>By: {{ the_author() }}</h4>
    </div>
    {% include "partials/sidebar-recipe-details.html.twig" %}
    {% include "partials/sidebar-custom-content.html.twig" %}
{% endblock %}