{% extends 'template/main.html.twig' %}
{% set has_sidebar = true %}
{% set content_attr = 'itemscope itemtype="http://schema.org/Recipe"' %}
{% block content %}
    <div class="row" id="recipe-overview">
        <div class="large-4 columns">
            {% if slides %}
                <div class="slick">
                    {% for slide in slides %}
                        <img src="{{ slide['sizes']['slider'] }}" alt="{{ slide['alt'] }}" itemprop="image"/>
                    {% endfor %}
                </div>
            {% endif %}

        </div>
        <div class="large-8 columns">
            <h1 itemprop="name">{{ the_title() }}</h1>
            <time class="hide" datetime="2009-11-05">{{ the_date() | date('Y-m-d') }}</time>
            {% if rating and rating_count %}
                <span itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating" class="hide">
                    <span itemprop="ratingValue">{{ rating }}</span>
                    <span itemprop="reviewCount">{{ rating_count }}</span>
                    <span itemprop="bestRating">5</span>
                    <span itemprop="worstRating">1</span>
                </span>
            {% endif %}
            {% include 'partials/sharethis.html.twig' %}
            <div itemprop="description">{{ the_field('teaser_description') }}</div>
        </div>
    </div>
    <div class="row" id="recipe-instructions">
        <div class="large-4 columns">
            {% if ingredients %}
                <h4>Ingredients</h4>
            {% endif %}
            {% for ingredient in ingredients %}
                <div class="row">
                    <div class="small-3 columns">
                        <div class="switch tiny">
                            <input class="switch-input" id="ingredient-{{ loop.index }}" type="checkbox" name="ingredient-{{ loop.index }}">
                            <label class="switch-paddle" for="ingredient-{{ loop.index }}">
                                <span class="show-for-sr">Ingredient</span>
                            </label>
                        </div>
                    </div>
                    <div class="small-9 columns">
                        <p class="switch-text" itemprop="recipeIngredient">{{ ingredient| raw }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="large-8 columns">
            <div id="directions" itemprop="recipeInstructions">
                <h4>Directions</h4>
                <ol>
                {% for direction in directions %}
                    <li class="direction">
                        <div class="content">{{ direction | raw }}</div>
                    </li>
                {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    {% include 'partials/related.html.twig' %}
    {{ comments_template() }}
{% endblock %}
{% block sidebar %}
    {% include "partials/sidebar-recipe-author.html.twig" %}
    {% include "partials/sidebar-recipe-details.html.twig" %}
    {% include "partials/sidebar-custom-content.html.twig" %}
{% endblock %}