{% extends 'template/main.html.twig' %}
{% set has_sidebar = true %}
{% block content %}
    <div class="row column">
        {% if the_post_thumbnail('slider') %}
            <div id="post-featured-image">
                {{ the_post_thumbnail('slider') }}
            </div>
        {% endif %}

        <h1 class="entry-title">{{ the_title() }}</h1>
        <p class="author-info">
            By: <a href="{{ the_author_posts_url(the_author_ID()) }}">{{ the_author() }}</a>
            | {{ the_date() | date("F d, Y") }}
        </p>
        {{ the_content() }}
    </div>
    <div id="mobile-sponsored-ad" class="hide-for-medium">
        <div class="row columns">
            {{ do_shortcode('[sponsored_ad]') }}
        </div>
    </div>
    {% include 'partials/related.html.twig' %}
{% endblock %}
{% block sidebar %}
    {% include 'partials/post-sidebar-search.html.twig' %}
    {% include 'partials/post-sidebar-categories.html.twig' %}
    {% include 'partials/sidebar-custom-content.html.twig' %}
    {% include 'partials/sharethis.html.twig' %}
{% endblock %}